.footer {
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
}

.footer p {
  text-align: center;
}

.footer a {
  color: whitesmoke;
  transition: all .3s;
}

.footer a:hover {
  opacity: .8;
  text-decoration: none;
}